body {
    font-family: 'Roboto', sans-serif;
    background-color: #48b3a5f8; /* Cor de fundo */
    color: #f7efef; /* Cor da fonte */
    margin: 0;
    padding: 0;
}

header {
    background-color: #44c6eecb; /* Cor do fundo do cabeçalho */
    color: rgba(255, 255, 255, 0.863);
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.info {
    padding: 10px;
    text-align: center;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    color: #fdfdfd00; /* Cor do título */
}

.content p {
    margin: 15px 0;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;}