body {
    font-family: 'Roboto', sans-serif;
    background-color: #588fb4; /* Cor de fundo */
    color: #f7efef00; /* Cor da fonte */
    margin: 0;
    padding: 0;
}

header {
    background-color: #4caf99; /* Cor do fundo do cabeçalho */
    color: rgba(131, 170, 41, 0);
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.info {
    padding: 10px;
    text-align: center;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    color: #155674; /* Cor do título */
}

.content p {
    margin: 15px 0;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;}